/* components/PostForm.module.css */

.postForm {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sendButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


/* components/PostsList.module.css */

.posts .post {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user {
    font-weight: bold;
}

.time {
    color: gray;
}

.postContent {
    margin-bottom: 10px;
}

.images {
    display: flex;
    gap: 10px;
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.postFooter {
    display: flex;
    justify-content: space-between;
}

.likes,
.comments {
    color: gray;
    cursor: pointer;
    font-weight: bold;
    
}